.CretMain{
    position: relative;
    margin: 0%;
    padding: 0%;

}
.cartFinel{
    position: absolute;
    position: fixed;
top: 100px;
right: 20px;
    height: 200px;
    width: 400px;
    margin: 0%;
    padding: 0%;
    background-color: rgb(163, 220, 220);
    text-align: center;
    border-radius: 10px;
}
.CretMain{
    margin-top: 20px;
    margin-right: 100px;
    text-align: center;

}
.cartdiv:hover{
    background-color: rgb(11, 10, 10);
    transform: translate(10px);
    color: azure;
    border-radius: 10px;
}