#email{
    padding: 10px;
}
#passward{
    padding: 10px;
    margin: 0%;
}
#submit{
    margin-left: 10px;
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(183, 245, 10);
    width: 100px;
}
.heading{
    margin-left: 10px;
}
.formbody{
    border-color: crimson;
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 40px;
}
.label{
    margin: 0%;
    padding: 0%;
}