.btn{
    margin-left: 2px;
}
.d-inline-block {
border-radius: 10px;

}
.navbar-brand{
    margin-left: 3px;
}
.serch{
    border-radius: 10px;
    margin: 0%;
    padding: 0%;
}
.cart i{
font-size: xx-large;
color: rgb(239, 156, 48);
}
.cart{
    text-align: center;
    margin-right: 10px;
}