
.col-lg-3{
    border: 2px rgb(241, 238, 238) solid;
    height: 480px;
    width: 350px;
    margin:20px;
    margin-left: 60px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}
.card-img-top{
    height: 200px;
}
.price{
    color: rgb(35, 206, 118);
}